.navbar {
  height: var(--nav-height);
  background: var(--nav-bg);
  width: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 100;
  font-weight: 100;
}

.navbar[data-fixed="true"] {
  position: fixed;
  top: 0;
}

.navbar-window {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 3rem;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  list-style: none;
  height: var(--nav-height);
}

.navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--nav-fg);
  font-size: 1.2rem;
  transition: all 0.3s ease;
  height: var(--nav-height);
  padding: 0 1rem;

  filter: brightness(0.8);
}

.navbar a:hover {
  filter: brightness(1);
}

.navbar-mobile button {
  height: var(--nav-height);
}

.navbar-mobile-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: var(--nav-height);
}

.navbar-mobile-open {
  height: 100vh;
  background-color: var(--nav-bg);
  animation: open-nav var(--navbar-animation-time) ease forwards;
}

.navbar-mobile-close {
  display: none;
}

.navbar-mobile-close-anim {
  animation: close-nav var(--navbar-animation-time) ease forwards;
  height: 100vh;
  background-color: var(--nav-bg);
}

.navbar-mobile-open li {
  width: 100vw;
}

@keyframes close-nav {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes open-nav {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
